////////////////////////////////////////
//
// PLAYING WITH LISTS
//
////////////////////////////////////////

$my-list: "one", "cat", "dogs";

.print-list{
  &:after {
    content: $my-list;
  }
}

$new-list: append($my-list, "platypus");

.print-list{
  &:after {
    content: $new-list;
  }

  &:hover {
    $new-list: append($new-list, "omg-more");
    &:after {
      content: $new-list;
    }
  }
}
