// breakpoint map
$breakpoints: (
);

// breakpoint mixin with warning
@mixin breakpoint($name) {

}

//using our breakpoint on a div
div {
  width: 100%;
  height: 100px;
  display: block;
  background: blue;

  @include breakpoint(break-1) {
    background: red;
  }
}