// color pallete
$white: #fff;
$brand-color: #88d9e6;
$brand-secondary: #8b8Bae;
$dark: #374b4a;

// variables
.dark {
  background-color: $dark;
}

.brand-color {
  background-color: $brand-color;
}

.brand-dark {
  background-color: $brand-dark;
}

.brand-light {
  background-color: $brand-light;
}
