// color pallete
$white: #fff;
$brand-color: #88d9e6;
$brand-secondary: #8b8Bae;
$dark: #374b4a;
$brand-dark: mix($brand-color, $dark, 80%);
$brand-light: mix($brand-color, $white, 40%);
$brand-secondary: mix(invert($brand-color), $dark, 30%);


// variables
.dark {
  background-color: $dark;
}

.brand-color {
  background-color: $brand-color;
}

.brand-dark {
  background-color: $brand-dark;
}

.brand-light {
  background-color: $brand-light;
}

.light {
  background-color: $white;
}

.brand-secondary {
  background-color: $brand-secondary;
}

// <ul>
//   <li class="dark"></li>
//   <li class="brand-dark"></li>
//   <li class="brand-color"></li>
//   <li class="brand-light"></li>
//   <li class="light"></li>
//   <li class="brand-secondary"></li>
// </ul>
